<!doctype html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109054255-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109054255-1');
    </script>
    <title><%= current_page.data.title || "Ally Long" %></title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="preload" href="../webfonts/32F71E_0_0.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="../webfonts/32F71E_0_0.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../webfonts/32F71E_1_0.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="../webfonts/32F71E_1_0.woff2" as="font" type="font/woff2" crossorigin>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <link rel="shortcut icon" href="images/favicon.png">
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
